<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aloha.mapper.BoardMapper">
	
	<!-- 게시글 목록 -->
	<select id="list" resultType="Board">
		SELECT * 
		  FROM board
		 ORDER BY board_no DESC
		        , reg_date DESC
	</select>
	
	<!-- 게시글 읽기 -->
	<select id="read" resultType="Board">
		SELECT * 
		  FROM board
		 WHERE board_no = #{boardNo}
	</select>

	<!-- 게시글 쓰기 -->
	<insert id="insert">
		INSERT INTO board (title, writer, content)
		VALUES (#{title}, #{writer}, #{content})
	</insert>

	<update id="update">
		UPDATE board
		   SET title = #{title}
		     , writer = #{writer}
		     , content = #{content}
		 WHERE board_no = #{boardNo}
	</update>

	<delete id="delete">
		DELETE FROM board WHERE board_no = #{boardNo} 
	</delete>
	
	<!-- 게시글 검-->
	<select id="search" resultType="Board">
		SELECT * 
		  FROM board
		 WHERE title LIKE CONCAT('%', #{keyword}, '%')
		    OR writer LIKE CONCAT('%', #{keyword}, '%')
		    OR content LIKE CONCAT('%', #{keyword}, '%')
		 ORDER BY board_no DESC
		        , reg_date DESC
	</select>
	
	<!-- 파일 업로드 -->
	<insert id="uploadFile">
		<selectKey order="BEFORE" keyProperty="refNo" resultType="int">
			<if test="refNo == 0">
				SELECT MAX(board_no)
				 FROM board
			</if>
			<if test="refNo != 0">
				SELECT #{refNo} from dual
			</if>
		</selectKey>
		INSERT INTO file_info (ref_no, file_name, full_name)
					   VALUES (#{refNo}, #{fileName}, #{fullName})
	</insert>
	
	<!-- 파일 목록 -->
	<select id="fileList" resultType="FileInfo">
		SELECT *
		  FROM file_info
		 WHERE ref_no = #{refNo}
	</select>
	
	<!-- 파일 읽기 -->
	<select id="readFile" resultType="FileInfo">
		SELECT *
		  FROM file_info
		 WHERE file_no = #{fileNo}
	</select>	
	
	<!-- 파일 삭제 -->
	<delete id="deleteFile">
		DELETE FROM file_info WHERE file_no = ${fileNo}
	</delete>
	
</mapper>